---
### Practise: Pandas

> Практика на кожен день: [LeetCode Pandas](https://leetcode.com/studyplan/30-days-of-pandas/)

In [1]:
# імпорти
import pandas as pd
import seaborn as sns

In [2]:
# вигрузка данних
df = sns.load_dataset("diamonds")
df.head(n=20)

    carat        cut color clarity  depth  table  price     x     y     z
0    0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1    0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2    0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3    0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4    0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5    0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6    0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7    0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8    0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9    0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39
10   0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
11   0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12   0.22    Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13   0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
14   0.20    Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15   0.32    Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
16   0.30      Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
17   0.30       Good     J     SI1   63.4   54.0    351  4.23  4.29  2.70
18   0.30       Good     J     SI1   63.8   56.0    351  4.23  4.26  2.71
19   0.30  Very Good     J     SI1   62.7   59.0    351  4.21  4.27  2.66

In [3]:
# DO Eda: head, tail, sample, shape, info, describe, check null value, value_counts, unique, nunique

In [4]:
df.tail()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [5]:
df.sample()

       carat    cut color clarity  depth  table  price     x     y     z
10653   1.01  Ideal     H     SI1   62.6   55.0   4836  6.43  6.39  4.01

In [6]:
df.shape # повертає розмір DataFrame: (кількість рядків, кількість стовпців)

(53940, 10)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [8]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [9]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [10]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [11]:
df[["carat", 'cut']].value_counts()

carat  cut
0.30   Ideal        1247
0.31   Ideal        1209
0.32   Ideal        1066
0.33   Ideal         673
0.41   Ideal         667
                    ...
2.67   Good            1
2.68   Very Good       1
2.70   Very Good       1
2.71   Premium         1
5.01   Fair            1
Name: count, Length: 1098, dtype: int64

In [25]:
df["color"].unique()
# df["color"]

['E', 'I', 'J', 'H', 'F', 'G', 'D']
Categories (7, object): ['D', 'E', 'F', 'G', 'H', 'I', 'J']

In [26]:
df['carat'].nunique()

273

---
**Завдання 1:** Оцінити середню вартість діаманта за категоріями чистоти (clarity) \
**Інструмент для вирішення:**  groupby та agg та agg function

In [27]:
ave_price = df.groupby("clarity")['price'].agg("mean") # групуємо по категорії, ціну агрегуємо по середній

ave_price

C:\Users\svetl\AppData\Local\Temp\ipykernel_12488\3922794170.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ave_price = df.groupby("clarity")['price'].agg("mean") # групуємо по категорії, ціну агрегуємо по середній

clarity
IF      2864.839106
VVS1    2523.114637
VVS2    3283.737071
VS1     3839.455391
VS2     3924.989395
SI1     3996.001148
SI2     5063.028606
I1      3924.168691
Name: price, dtype: float64

---
**Завдання 2:** Виявити дешеві діаманти \
**Інструменти:** loc, isin, bool mask \

Дешевий це: carat > 1.2, color = "D" або "E", price < 2000

In [28]:
mask = df['carat'] > 1.2 # зробили маску (фільтр) по каратам
df[mask]

       carat        cut color clarity  depth  table  price     x     y     z
659     1.27    Premium     H     SI2   59.3   61.0   2845  7.12  7.05  4.20
800     1.22    Premium     E      I1   60.9   57.0   2862  6.93  6.88  4.21
1224    1.24  Very Good     J      I1   61.9   55.0   2940  6.85  6.92  4.26
1362    1.50       Fair     H      I1   65.6   54.0   2964  7.26  7.09  4.70
1510    1.24    Premium     J      I1   61.9   55.0   2994  6.92  6.85  4.26
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
51626   1.21       Fair     I      I1   65.0   58.0   2396  6.65  6.59  4.30
52422   1.30       Fair     H      I1   64.4   57.0   2512  6.93  6.86  4.44
52805   1.30       Fair     E      I1   66.5   58.0   2571  6.79  6.75  4.50
52993   1.29       Fair     H      I1   67.7   62.0   2596  6.69  6.59  4.50
53595   1.22    Premium     G      I1   59.2   60.0   2699  6.97  6.90  4.10

[9155 rows x 10 columns]

In [29]:
mask_2 = (df['price'] > 2000) # зробили маску (фільтр) по вартості
df[mask_2]

       carat        cut color clarity  depth  table  price     x     y     z
90      0.70      Ideal     E     SI1   62.5   57.0   2757  5.70  5.72  3.57
91      0.86       Fair     E     SI2   55.1   69.0   2757  6.45  6.33  3.52
92      0.70      Ideal     G     VS2   61.6   56.0   2757  5.70  5.67  3.50
93      0.71  Very Good     E     VS2   62.4   57.0   2759  5.68  5.73  3.56
94      0.78  Very Good     G     SI2   63.8   56.0   2759  5.81  5.85  3.72
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[29733 rows x 10 columns]

In [30]:
df[(mask) & (mask_2) & ((df['color'] == "D") | (df['color'] == "E"))] # ми можемо всі фільти задати масками і потім "міксувати" маски в  залежності від задачі
# df[(df['carat'] > 1.2) & ((df['color'] == "D") | (df['color'] == "E"))]

       carat        cut color clarity  depth  table  price     x     y     z
800     1.22    Premium     E      I1   60.9   57.0   2862  6.93  6.88  4.21
2024    1.52       Good     E      I1   57.3   58.0   3105  7.53  7.42  4.28
2025    1.52       Good     E      I1   57.3   58.0   3105  7.53  7.42  4.28
2216    1.21       Good     E      I1   57.2   62.0   3144  7.01  6.95  3.99
2877    1.25      Ideal     E      I1   60.9   56.0   3276  6.95  6.91  4.22
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
27677   1.28      Ideal     E      IF   60.7   57.0  18700  7.09  6.99  4.27
27683   2.00  Very Good     E     SI1   60.5   59.0  18709  8.09  8.14  4.94
27688   1.51      Ideal     E     VS1   61.5   57.0  18729  7.34  7.40  4.53
27720   2.02  Very Good     E     SI1   59.8   59.0  18731  8.11  8.20  4.88
52805   1.30       Fair     E      I1   66.5   58.0   2571  6.79  6.75  4.50

[1206 rows x 10 columns]

---
**Завдання 3:** Знайди 10 найдорожчих діамантів у кожній категорії кольору.

In [33]:
group_color = df.groupby("color")['price'].max().reset_index().sort_values("price",ascending=False).head(10)

group_color

C:\Users\svetl\AppData\Local\Temp\ipykernel_12488\1911177327.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  group_color = df.groupby("color")['price'].max().reset_index().sort_values("price",ascending=False).head(10)

  color  price
5     I  18823
3     G  18818
4     H  18803
2     F  18791
1     E  18731
6     J  18710
0     D  18693

In [34]:
df_sorted = df.sort_values(by=["color","price"], ascending=[True, False])
df_sorted

       carat        cut color clarity  depth  table  price     x     y     z
27676   2.19      Ideal     D     SI2   61.8   57.0  18693  8.23  8.49  5.17
27667   2.01      Ideal     D     SI2   62.1   56.0  18674  8.02  8.11  5.01
27647   2.11    Premium     D     SI2   60.9   60.0  18575  8.28  8.21  5.02
27635   1.04  Very Good     D      IF   61.3   56.0  18542  6.53  6.55  4.01
27627   2.14  Very Good     D     SI2   60.3   60.0  18526  8.31  8.43  5.05
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
13      0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
11      0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
10      0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
5       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

[53940 rows x 10 columns]

In [20]:
max_price = df_sorted.groupby("color").head(10)
max_price

C:\Users\svetl\AppData\Local\Temp\ipykernel_12488\1856659149.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  max_price = df_sorted.groupby("color").head(10)

       carat        cut color clarity  depth  table  price      x      y     z
27676   2.19      Ideal     D     SI2   61.8   57.0  18693   8.23   8.49  5.17
27667   2.01      Ideal     D     SI2   62.1   56.0  18674   8.02   8.11  5.01
27647   2.11    Premium     D     SI2   60.9   60.0  18575   8.28   8.21  5.02
27635   1.04  Very Good     D      IF   61.3   56.0  18542   6.53   6.55  4.01
27627   2.14  Very Good     D     SI2   60.3   60.0  18526   8.31   8.43  5.05
...      ...        ...   ...     ...    ...    ...    ...    ...    ...   ...
27657   2.42    Premium     J     VS2   61.3   59.0  18615   8.61   8.58  5.27
27650   2.29    Premium     J      IF   61.4   60.0  18594   8.49   8.45  5.20
27639   2.38    Premium     J     VS2   62.1   58.0  18559   8.54   8.49  5.29
27630   4.50       Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72
27621   2.37      Ideal     J     SI1   61.9   55.0  18508   8.53   8.56  5.29

[70 rows x 10 columns]

---
**Завдання 4:** Знайти середню ціну діамантів різних категорій

In [21]:
ave_price_carat = df.groupby("carat")['price'].mean()
ave_price_carat
# reset_index().sort_values("price",ascending=False).head(10)

carat
0.20      365.166667
0.21      380.222222
0.22      391.400000
0.23      486.143345
0.24      505.185039
            ...
4.00    15984.000000
4.01    15223.000000
4.13    17329.000000
4.50    18531.000000
5.01    18018.000000
Name: price, Length: 273, dtype: float64

In [22]:
ave_price_color = df.groupby("color")['price'].mean()
ave_price_color

C:\Users\svetl\AppData\Local\Temp\ipykernel_12488\2874259193.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ave_price_color = df.groupby("color")['price'].mean()

color
D    3169.954096
E    3076.752475
F    3724.886397
G    3999.135671
H    4486.669196
I    5091.874954
J    5323.818020
Name: price, dtype: float64

In [23]:
ave_price_clarity = df.groupby("clarity")['price'].mean()
ave_price_clarity

C:\Users\svetl\AppData\Local\Temp\ipykernel_12488\1484140453.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ave_price_clarity = df.groupby("clarity")['price'].mean()

clarity
IF      2864.839106
VVS1    2523.114637
VVS2    3283.737071
VS1     3839.455391
VS2     3924.989395
SI1     3996.001148
SI2     5063.028606
I1      3924.168691
Name: price, dtype: float64

---
**Завдання 5:** Порахуйте, на скільки % дорожчі діаманти кольору D порівняно з кольором G

In [ ]:
d = df[df['color'] == 'D']
g['price'].mean()

np.float64(3169.9540959409596)

In [46]:
g = df[df['color'] == 'G']
g['price'].mean()

np.float64(3999.135671271697)

In [54]:
result = d['price'].mean() / g['price'].mean()
result_ = (1-result)*100
print(f'Діаманти D на {result_:.2f}% дешевше за діаманти кольору G')

Діаманти D на 20.73% дешевше за діаманти кольору G

In [24]:
# приклад корреляції
df.corr(numeric_only=True)["price"].sort_values(ascending=False)

price    1.000000
carat    0.921591
x        0.884435
y        0.865421
z        0.861249
table    0.127134
depth   -0.010647
Name: price, dtype: float64